@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    overflow: hidden;
}

.scroll-button {
    width: 70px;
    height: 100px;
    background-color: rgb(255, 253, 253);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    /* box-shadow: 1px 11px 32px -4px rgba(0,0,0,0.9); */
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button {
    width: 100px;
    height: 70px;
    background-color: rgb(255, 253, 253);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10000;
    /* box-shadow: 1px 11px 32px -4px rgba(255, 255, 255, 0.9); */
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button i {
    font-size: 35px;
    color: rgb(253, 145, 4);
}

.scroll-top {
    bottom: 150px;
}

.scroll-button i {
    font-size: 35px;
    color: rgb(253, 145, 4);
}

.scroll-bottom:hover {
    transform: translateY(5px);
}
.scroll-top:hover {
    transform: translateY(-5px);
}
.back-button:hover {
    transform: translateX(-5px);
}

section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

header {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden !important;
}

.header__background {
    background-color: #BB8A4C;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    overflow: hidden !important;
}

header .bg-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header .bg-image img {
    width: 200%;
    height: 130%;
    object-fit: contain;
}

header .header__title {
    position: absolute;
    width: 800px;
    height: 550px;
    background: rgba(0, 0, 0, 0);
}

header .header__title img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.introduction {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6B460;
}

.introduction__oval {
    background-color: #4E1E22;
    width: 1200px;
    height: 600px;
    position: relative;
    border-radius: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.oval__crown_top {
    position: absolute;
    z-index: 1000;
    width: 300px;
    height: 100px;
    top: 50px;
}

.oval__crown_bottom {
    position: absolute;
    z-index: 1000;
    width: 300px;
    height: 100px;
    bottom: 50px;
    transform: rotate(180deg);
}

.oval__crown_top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oval__crown_bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oval__text {
    text-align: center;
    width: 75%;
    height: 45%;
    color: #F6B460;
    font-size: 25px;
    line-height: 1.5;
}

.asignutaras {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6B460;
}

.asignutaras .square {
    width: 95vw;
    height: 90vh;
    background: #4E1E22;
    padding: 50px;
}

.asignutaras .square .square__border {
    width: 100%;
    height: 100%;
    border: 5px dashed #F6B460;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asignutaras .border__items {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asignutaras .border__items .border__item {
    width: 400px;
    height: 400px;
    transition: .4s;
    border-radius: 15px;
    cursor: pointer;
}

.border__items .asignatura:hover {
    transform: translateY(10px);
    background: rgba(0, 0, 0, 0.24);
}

.asignutaras  .border__items .ramo {
    width: 200px;
    height: 200px;
}

.border__items .ramo:nth-last-child(2) {
    transform: rotateY(180deg);
}

.border__items .border__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.periodo {
    background: #F6B460;
}

.periodo .square {
    width: 100vw;
    height: 100vh;
    padding: 50px;
}

.periodo .square .square__border {
    width: 100%;
    height: 100%;
    border: 5px dashed #4E1E22;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.periodo .border__items {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.periodo .border__items .border__item {
    width: 350px;
    height: 350px;
    transition: .4s;
    border-radius: 15px;
    cursor: pointer;
}

.periodo .periodo__title {
    width: 500px;
    height: 350px;
}

.periodo .periodo__title img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.square__banner {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square__banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* literatura española */
.literatura-content{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #4E1E22;
}
.literatura-espa {
    width: 100%;
}
.literatura-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-periodo{
    width: auto;
}
.literatura-img{
    width: 900px;
}
.content-periodo{
    display: flex;
    justify-content: center;
}
.literatura-periodo{
    width: 300px;
    height: 300px;
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0rem 3rem 7rem 3rem;
    padding: 3rem;
    background-color: #F6B460;
    z-index: 1;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: rgb(49, 22, 10);
    transition: .4s;
}

.literatura-periodo:hover{
    cursor: pointer;
    transform: translateY(10px);
}

.dashed{
    width: 100%;
    border-bottom-style: dashed;
    color:#F6B460 ;
}
.flower-img{
    width: 500px;
}
.flower{
    left: -85px;
    position: absolute;
    overflow: hidden;
}
.flower-center{
    bottom: 0;
    left: 500px;
}
.flower-top{
    right: 0;
    top:-75px;
    position: absolute;
}
.ímg-top{
    width: 400px;
}